@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
	font-size: 16px;
	font-family: 'DM Serif Display', serif;
	color: #333333;
	background-color: white;
    scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

header {
    width: 100%;
    background-color: #f7f7f7;
    min-height: 10vh;
    display: flex;
    overflow: hidden;
    z-index: 999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main-container {
    padding-top: 100px;
}

nav {
    width: 100%;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color:black;
}

nav ul {
    display: flex;
}

nav li {
   padding: 0px 8px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 90%;
    min-height: 80vh;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

/* Header is treated as the first section */
section:nth-child(1) {
    background: #2c5aaf;
    color: white;
}

section:nth-child(2) {
    background: #e7e017;
    color: black;
}

section:nth-child(3) {
    background: #0e8538;
    color: white;
}

section:nth-child(4) {
    background: #b91956;
    color: white;
}

#contact {
    min-height: 50vh;
    width: 50%;
}

.reveal {
    position: relative;
    transform: translateY(70px);
    opacity: 0.2;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}